pandas==2.2.3
numpy==1.26.4
python-dotenv==1.0.1
langchain==0.3.0
langchain-core==0.3.46
langgraph==0.3.14
langchain-openai==0.3.9
langchain-google-genai==2.1.0
google-ai-generativelanguage==0.6.16
pytest==7.4.0
gradio==5.22.0
matplotlib
huggingface-hub==0.29.3
chromadb==0.4.22
google-generativeai==0.8.4